---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap"
;

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.dropdown {
    height: 50px;
}


.page-thumb {
    margin: 20px;
    max-width: 150px;
}

.page-thumb-left {
    float: left;
}

.page-thumb-right {
    float: right;
}

.clearfix {
    clear: both;
}