/*---:[ ie6.css for the Antbag.com ]:---*/
/*---:[ ------------------------------------------- ]:---*/
/*---:[ by Anthony Baggett of antbag.com        ]:---*/

#content, #sidebar { overflow: hidden; }

.sidebar{ width: 180px; }

.leftbar{ width: 180px; }